.sliderhidro {
    width: 80%;
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
}

.sliderhidro ul {
    display: flex;
    padding: 0;
    width: 500%; /* Cambiado a 500% para 5 imágenes */
    animation: automatico 30s infinite alternate linear; /* Aumenta la duración si es necesario */
}

.sliderhidro li {
    width: 20%; /* Cambiado a 20% para cada imagen */
    list-style: none;
}

.sliderhidro img {
    width: 100%;
    height: 60vh;
}

@media (min-width:700px) {
    .sliderhidro img {
        height: 1800px;
    }
}

@keyframes automatico {
    0% { margin-left: 0; }
    19% { margin-left: 0; }

    21% { margin-left: -100%; } /* Cambiado a -20% para la segunda imagen */
    40% { margin-left: -100%; }

    41% { margin-left: -200%; } /* Cambiado a -40% para la tercera imagen */
    60% { margin-left: -200%; }

    61% { margin-left: -300%; } /* Cambiado a -60% para la cuarta imagen */
    80% { margin-left: -300%; } /* Mantiene en la cuarta imagen */
    
    81% { margin-left: -400%; } 
    100% { margin-left: -400%; } /* Cambiado a -80% para la quinta imagen */
}
